// Footer component styles

footer {
  a {
    position: relative;
    transition: all 0.3s ease;
    
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background: white;
      transition: width 0.3s ease;
    }
    
    &:hover::before {
      width: 100%;
    }
  }
}
